/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Fira Mono', "Lucida Console", "monaco", "Bitstream Vera Sans Mono", monospace;
    color: #222;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background-color: #FFCD00;
}

body {
    margin: 0px;
    padding: 0px;
}


footer {
    font-size: 0.75em;
    font-weight: 400;
    margin: 0 0 0 0;
    padding: 0 0 2em 0;
}

/* https://codepen.io/mxttsco/pen/KgodYm */
a {
   color: #00843D; 
}

a:hover {
   color: #a54b4b;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    background-color: #ffffff;
}

#awg_logo {
    width: 6em;
}
#awg_byline {
    font-size: 0.75em;
    font-weight: 400;
}

#awg_intro {
    display: inline-block;
    max-width: 48em;
    text-align: left;
    margin: 1em;
}

#awg_intro a{
    color: #222;
}

nav {
    font-weight: 500;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

nav a{
    padding: 0.5em 0.7em;
    border-style: solid;
    border-color: #00843D;
    border-size: 1px; 
    text-decoration: none;
}

nav a:hover{
    padding: 0.5em 0.7em;
    border-style: solid;
    border-color: #a54b4b;
    border-size: 1px;
    text-decoration: none;
}

h1, h2 {
  font-family: 'Josefin Sans', "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  text-transform: uppercase;
}

.page_content {
    min-height: 20em;
    padding-bottom: 3.5em;
}

.project_section {
    display: inline-block;
    max-width: 48em;
    text-align: left;
    margin: 1em;
}

.project_section p{
  margin: 0;
  padding: 0;
}

.project_section h2{
  margin: 1em 0 0 0;
  padding: 0;
}

.module {
    border-style: solid;
    border-color: #000000;
    border-size: 1px; 
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 15em;
    text-align: left;
    padding: 0.5em 2em 1em 2em;
    display: inline-block; /* This is just a fallback so it looks good when JS is disabled */
}

.module:hover {
    border-color: #00843D;
}

.module h2{
  margin-bottom: -0.5em;
}

.eventListing {
    background-color: #000000;
    color: #FFCD00;
    display: inline-block;
    max-width: 25em;
    text-align: left;
    padding: 0.5em 2em 1em 2em;
    margin: 2em 1em 1em 1em;
    display: relative;
}

.eventListing h1 {
  text-align: center;
  color: #FFCD00;
}

.eventListing a {
  color: #FFCD00;
  text-decoration: none;
  font-weight: 700;
}

.eventListing a:hover {
  text-decoration: underline;
}

.eventListing p{
    text-align: left;
}

.eventListing p.date{
    font-style: bold;
}

/* M E M B E R S */
#members {
    display: inline-block;
    width: 90%;
    max-width: 48em;
    text-align: left;
    padding: 0;
    margin: 0;
}
.member {
  text-align: left;
  background-color: rgba(255, 205, 0, 0.25);
  min-height: 5em;
  width: 100%;
  max-width: 48em;
  padding: 1em 0 0 0;
}

.member:hover {
  background-color: rgba(0, 132, 61, 0.25);
}

.member > figure {
  margin: 0;
  padding: 0 1em 0 1em;
  overflow: hidden;
  float: left;
}
.member > figure > img {
  width: 4em;
  height: 4em;
}

.member > h1 {
  text-transform: none;
  font-family: 'Fira Mono', "Lucida Console", "monaco", "Bitstream Vera Sans Mono", monospace;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0;
  padding: 1em 0 0 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.member > .member_title {

}







/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * FontAwesome
 */
.fa {
  padding: 1em;
  font-size: 2em;
  width: 0.5em;
  text-align: center;
  text-decoration: none;
  margin: 0.25em 0.25em;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
