{% include t_head.html %}  <!-- include the nav partial -->

        <section id="eventListings" class="page_content">

          <section class="eventListing draggable">
              <p class="date">17 Feb 2018</p>
              <h1>Vicmod Ensemble</h1>
              <p>The Vicmod Ensemble will be testing our Good Times Radio Clock prototype in a live performance at <a href="">Grumpys in Fitzroy</a>. Not sure if testing gear live is a good idea but it fits with an open way of&nbsp;working.</p>
              <p>Expect a chilled out abstract environment to immerse yourself&nbsp;in.</p>
          </section>
          
          <section class="eventListing draggable">
              <p class="date">24-25 Feb 2018</p>
              <h1>FREE! Arduino Crash Course</h1>
              <p><b>Hands-on training with microcontrollers, electronics and programming for Arduino</b><p>
              <p>Split across two days get a detailed understanding of how it all works. No prior experience required.</p>
              <p><a href="https://www.eventbrite.com.au/e/makerbasics-arduino-crash-course-tickets-40248710978">Book your tickets now!</a> Please note: Two day event!</p>
          </section>

        </section> <!-- /page_content -->

{% include t_foot.html %}  <!-- include the footer partial -->
