{% include t_head.html %}  <!-- include the nav partial -->

        <section id="eventListings" class="page_content">

          <section class="eventListing draggable">
              <p class="date">17 Feb 2018</p>
              <h1>Vicmod Ensemble</h1>
              <p>The Vicmod Ensemble will be testing our Good Times Radio Clock prototype in a live performance at <a href="">Grumpys in Fitzroy</a>. Not sure if testing gear live is a good idea but it fits with an open way of&nbsp;working.</p>
              <p>Expect a chilled out abstract environment to immerse yourself&nbsp;in.</p>
          </section>
        
        </section> <!-- /page_content -->

{% include t_foot.html %}  <!-- include the footer partial -->
