{% include t_head.html %}  <!-- include the nav partial -->

        <section class = "page_content" id="members">
            <section class="member">
                <figure>
                  <img src="img/members/robbert_d_jordon_k.jpg">
                </figure>
                <h1>Robbert D.Jordan</h1>
                <p class="member_title">VJ and Hardware Developer</p>
            </section>
            <section class="member">
                <figure>
                  <img src="img/members/bruno_herfst_k.jpg">
                </figure>
                <h1>Bruno Herfst</h1>
                <p class="member_title">Product Man</p>
            </section>
            <section class="member">
                <figure>
                  <img src="img/members/ben_willis_k.jpg">
                </figure>
                <h1>Ben Willis</h1>
                <p class="member_title">Super all round nice guy</p>
            </section>
            <section class="member">
                <figure>
                  <img src="img/members/guy_wolfe_page_tayler_k.jpg">
                </figure>
                <h1>Guy Wolfe Page Taylor</h1>
                <p class="member_title">Hardware Software Developer</p>
            </section>
            <section class="member">
                <figure>
                  <img src="img/members/new_k.jpg">
                </figure>
                <h1>You?</h1>
                <p class="member_title">Join us!</p>
            </section>
        </section> <!-- /page_content -->

{% include t_foot.html %}  <!-- include the footer partial -->
