{% include t_head.html %}  <!-- include the nav partial -->
        
        <section class="page_content">
          <section class="project_section">
                <h2>Speed Bump</h2>
                <p>A small inline power filter/protector.</p>
                <p><a href="https://github.com/WaveGuides/Speed-Bump">Github</a></p>

                <h2>Open Source Lonely Roads</h2>
                <p>A complete low noise power solution for Eurorack.</p>
                <p><a href="https://github.com/WaveGuides/Open-Source-Lonely-Roads">Github</a></p>

          </section>
          <section class="project_section">
            <h2>To us, every project is a startup. If you are interested in a new project or collaboration, we’d love to hear from you.</h2>
          </section>
        </section> <!-- /page_content -->

{% include t_foot.html %}  <!-- include the footer partial -->
